/* Hero Section */
.heroSection {
  position: relative;
  height: 100vh;
  display: flex;
  z-index: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  /* Slightly larger to prevent gaps during parallax */
  z-index: 1;
}

.foregroundContainer {
  position: absolute;
  width: 200%;
  bottom: 15vh;
  height: 70vh;
  /* Set a specific height for the foreground */
  z-index: 3;
  pointer-events: none;
  /* Allow clicks to pass through if needed */
}

.foregroundContainer img {
  object-position: top;
}

.heroContentContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15vh;
  padding-top: 50vh;
  gap: 2rem;
}

.heroContent {
  width: 40vw;
  min-width: 640px;
}

.heroContent p {
  color: white;
  font-size: 1.125rem;
}

.heroContent h1 {
  color: white;
  font-size: 4rem;
}

.heroContent h1,
.heroContent p {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.semiCircle {
  position: absolute;
  top: 75vh;
  z-index: 3;
  width: 200%;
  height: 700px;
  background-color: #F5F0EB;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  clip-path: inset(0 0 50% 0);
}