.wrapper {
    border: 2px solid black;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.wrapper:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}